name: Deploy akcaf-backend to AWS Lightsail

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      ECR_REPOSITORY: akcaf
      IMAGE_TAG: latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and Push Docker image
        id: build-and-push-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: akcaf
          IMAGE_TAG: latest

        run: |
          docker build -t ${{env.ECR_REGISTRY}}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }} .
          docker push ${{env.ECR_REGISTRY}}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}

      - name: Deploy to Lightsail
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          API_VERSION: ${{ secrets.API_VERSION }}
          MONGO_URL: ${{ secrets.MONGO_URL }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          NODE_EMAIL_ID: ${{ secrets.NODE_EMAIL_ID }}
          RAZORPAY_ID_KEY: ${{ secrets.RAZORPAY_ID_KEY }}
          RAZORPAY_SECRET_KEY: ${{ secrets.RAZORPAY_SECRET_KEY }}
          STRIPE_SECRET: ${{ secrets.STRIPE_SECRET }}
          ECR_REPOSITORY: akcaf
          IMAGE_TAG: latest
          LIGHTSAIL_INSTANCE_IP: ${{ secrets.LIGHTSAIL_INSTANCE_IP }}
          SSH_KEY: ${{ secrets.LIGHTSAIL_PRIVATE_KEY }}
          USERNAME: ubuntu
          PORT: 3000
          CONTAINER_NAME: AKCAF_BACKEND

        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.LIGHTSAIL_INSTANCE_IP }}
          username: ${{ env.USERNAME }}
          key: ${{ env.SSH_KEY }}

          script: |
            # Update system and Docker if needed
            sudo apt-get update
            sudo apt-get install -y docker.io

            # Login to Amazon ECR
            aws ecr get-login-password --region ${{ env.AWS_REGION }} | sudo docker login --username AWS --password-stdin ${{ env.ECR_REGISTRY }}

            # Pull Docker Image
            sudo docker pull ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}

            # Stop and remove the existing container if running
            # sudo docker stop ${{ env.CONTAINER_NAME }} || true
            # sudo docker rm ${{ env.CONTAINER_NAME }} || true

            # Run the new container
            sudo docker run -d \
              -p ${{ env.PORT }}:${{ env.PORT }} \
              --name ${{ env.CONTAINER_NAME }} \
              -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
              -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
              -e AWS_REGION=${{ secrets.AWS_REGION }} \
              -e ENVIRONMENT=development \
              -e API_VERSION=${{ env.API_VERSION }} \
              -e MONGO_URL=${{ env.MONGO_URL }} \
              -e JWT_SECRET=${{ env.JWT_SECRET }} \
              -e NODE_EMAIL_ID=${{ env.NODE_EMAIL_ID }} \
              -e RAZORPAY_ID_KEY=${{ env.RAZORPAY_ID_KEY }} \
              -e RAZORPAY_SECRET_KEY=${{ env.RAZORPAY_SECRET_KEY }} \
              -e STRIPE_SECRET=${{ env.STRIPE_SECRET }} \
              -e PORT=${{ env.PORT }} \
                ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
